
/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//imports

@import "html/home";
@import "html/terapias";
@import "html/quiensoy";
@import "html/tienda";
@import "html/blog";
@import "html/generales";
@import "html/mediasq";