@mixin flex ($gap){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
}


@mixin grid ($column, $row){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}

@mixin text ($font, $size, $color, $align){
    font-family: $font;
    font-size: $size;
    color: $color;
    text-align: $align;
}
