$color-principal: #f6fdfe;
$color-secundario: #91a9b0;
$color-terciario: #06446f;
$color-cuaternario: rgb(82, 81, 81);
$font-primaria: 'Roboto Serif', serif;
$font-secundaria: 'Lora', serif;
$font-terciaria: 'Roboto Condensed', sans-serif;
